@font-face {
    font-family: "Overpass";
    src: url(./font/static/Overpass-Bold.ttf);
}

html {
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100%;
    margin: 0px;

    object-fit: fill;

    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass";
}

main {
    display: flex;
    align-items: center;
    
    width: 80vw;
    min-width: 280px;
    max-width: 350px;
    height: 42vh;
    padding: 25px;

    overflow: hidden;

    border-radius: 15px;
    box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.071);

    background-color: hsl(213, 19%, 18%);
}

h1, input, #thank {
    color: hsl(0, 0%, 100%);
}

h2 {
    margin: 0px;
}

/* Rating state start */
.rating-state {
    /* js interaction - leave display: flex; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 3em;
    width: 3em;
    border-radius: 1.5em;

    background-color: #343f4b;
}

#star-icon {
    height: 16px;
    width: 16px;
}

h1, h3 {
    margin: 0px;
}

#rating-p {
    height: 85px;
    max-width: 440px;

    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    line-height: 25px;
    text-align: start;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.numbers label {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;
    border-radius: 25px;

    background-color: #343f4b;
    color: hsl(217, 12%, 63%);
}

input {
    display: flex;
    align-self: center;
    justify-content: center;

    width: 25em;
    min-width: 142px;
    height: 3.4em;
    border-radius: 30px;

    border: none;

    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%)
}

.input {
    display: none;
}

input:hover {
    background-color:hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
}

.nb:hover {
    background-color:hsl(217, 12%, 63%);
    color:hsl(0, 0%, 100%);
}

input[type="radio"]:checked+label {
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
}
/* Rating state end */

/* Thank you state start */
.thank-state {
    /* js interaction - leave display: none; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;
    text-align: center;
}

#phone-illustration {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    object-fit: contain;
}

#selected {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 185px;
    height: 30px;
    border-radius: 15px;

    color:hsl(25, 97%, 53%);
    background-color: #959eac34;

    font-size: 1rem;
    line-height: 25px;
}

#thank-p {
    color: hsl(217, 12%, 63%);
    font-size: 0.9375rem;
}

/* Thank you state end */

@media (min-width: 1440px) {
    main {
        height: 45vh;
        width: 30vw; 
    }
}